// -------------------------------------
// Colors
// -------------------------------------

$color-primary: #ff9921 !default;
$color-secondary: #007dc6 !default;
$color-white: #fff !default;
$color-gray: #f4f4f4 !default;
$color-black: #000 !default;
$color-red: #d90000 !default;
$color-green: #8dd900 !default;
$color-yellow: #f0e006 !default;
$color-none: transparent !default;
$none: none !default;

// -------------------------------------
// Colors Hover
// -------------------------------------

$color-primary-hover: #fe4225 !default;
$color-secondary-hover: #fafafa !default;
