@include global {
	input[type='password'],
	input[type='text'],
	input[type='email'] {
		background-color: $color-white;
		border: 1px solid $color-gray;
		color: $color-black;
		font-size: 14px;
		min-height: 42px;
		min-width: 42px;
		outline: 0;
		padding: 10px 12px;
	}
}

@include desktop {
}

@include mobile {
}
